body {
	background-color: aquamarine;
}

.button {
	color: white;
	padding: 10px;
	cursor: pointer;
	color: blue;
	border: 1px solid black;
	background: none;
}

.wrapper {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 20px;
	border: 1px solid white;
	width: 100%;
	flex-direction: column;
} 

.wrapper > div {
	width: 50%;
	
}

.inner {
	padding: 20px;
	border: 1px solid red;
	border-radius: 10px;
}

.yellow {
	background-color: yellow;
	color: blue;
}